MONGO_URL=''
JWT_SECRET_KEY='KJDSAHFCIREHWFCIULWERHFIJHWEiuewrhfiu87346578kewjhrfkKSDJHFKIJUWEDHFKJ^%$%$#%#@%'

PORT=3000
HOST='0.0.0.0'

FROM_EMAIL=TEST_MAIL<noreply@testmail.com>
EMAIL_USER=''
EMAIL_PASSWORD=''